#homepage {
    background-image: url('/static/images/Background/Homepage.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#homepage a {
    background-color: #dc8b48 !important;
}

#homepage h1 {
    font: normal 20vh Kreon;
    text-align: center;
}

#homepage p {
    font: normal 1.5rem Montserrat;
    margin: 0 2%;
    text-align: center;
    margin: 5vh 0;
}

#homepage a {
    margin: 0 auto;
}