.background_menu {
    position: absolute;
    background-color: #3D3D3D;
    width: 8vw;
    max-height: 100vh;
}

.center-icon {
    text-align: center!important;
}

.container {
    margin: 10% 0%;
    padding: 0% 0% !important;
    position: relative;
    width: 8vw;
    display: inline-block;
}

.container:hover .overlay {
    opacity: 1;
}

.header {
    display: none;
}

.image {
    width: 6vw;
}

.left-right-most {
    padding-right: 0%!important;
    padding-left: 0%!important;
}

.margin-left {
    margin-left: 10vw;
}

.menu-area {
    height: 100vh;
}

.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #3D3D3D;
}

.overlayFade{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #3D3D3D;
}

.row {
    margin-right: 0%!important;
    margin-left: 0%!important;
}

.text {
    color: white;
    font: bold 1rem Montserrat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: #3d3d3d;
    font: normal 3rem Kreon;
    margin-top: 5vh;
    max-width: 25%;
}