.background_menu {
    position: absolute;
    z-index: 1;
}

.dt_size {
    width: 18rem;
}

.form_style {
    font: normal 1rem Montserrat;
    text-align: center
}

.marginTop {
    margin-top: 3vh;
}

.menu_bar {
    position: sticky;
    top: 0%;
}

.no_size {
    width: 10rem;
}

.table_custom {
    font: normal 1.25rem Montserrat;
    border-bottom: 2px solid #f0efef;
    margin: 3rem 0%;
    padding: .5rem 1.5rem !important;
}

#schedule {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#schedule h1 {
    color: #3d3d3d;
    font: normal 3rem Kreon;
    margin-top: 5vh;
    width: 20vw;
}

#schedule h2 {
    font: bolder 2rem Montserrat;
    margin: 5vh auto;
    width: 40vw;
}

#schedule p {
    font: normal 1rem Montserrat;
    margin: 5vh auto;
    width: 40vw;
}

@media screen and (max-width: 767px) {

    .background_menu {
        display: none;
    }

    .header {
        display: inline-block;
        background-color: #3d3d3d;
        position: fixed;
        width: 100%;
        height: 8vh;
    }

    .margin-left {
        margin-left: 5% !important;
    }

    .top {
        z-index: 1;
    }

    .right {
        text-align: right;
    }

    #schedule h1 {
        position: relative;
        top: 5vh;
    }

    #schedule h2 {
        font-size: 1.25rem;
        font-weight: bolder;
        margin-top: 25%;
        text-align: center;
        width: 90%;
    }

    #schedule h3 {
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }

    #schedule p {
        margin-top: 10%;
        width: 90%;
    }
}