#skills {
    background-image: url('/static/images/Background/Skills.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#skills h2 {
    font: bold 1.5rem Montserrat;
    margin-top: 10vh;
    width: 100%;
}

#skills p {
    font: normal 1.25rem Montserrat;
    margin-top: 2vh;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .background_menu {
        display: none;
    }

    .header {
        display: inline-block;
        background-color: #3d3d3d;
        position: fixed;
        width: 100%;
        height: 8vh;
    }

    .margin-left {
        margin-left: 5%
    }

    .right {
        text-align: right;
    }

    .top {
        z-index: 1;
    }

    #skills h1 {
        position: relative;
        top: 5vh;
    }

    #skills h2 {
        text-align: center;
    }
}