<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Jilham Luthfi | About Me</title>
        <meta charset="utf-8">

        <!-- Connect to external CSS file -->
        <link rel="stylesheet" href="{% static 'css/menu_bar_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/about_style.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        

        <!-- Connect the fonts from google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">

        <!-- Set the size which can be fit to any screen devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="background_menu">
            <div class="d-flex flex-column justify-content-center menu-area">
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Home_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:homepage' %}"><div class="text">Home</div></a>
                    </div> 
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/About_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <div class="text">About</div>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Schedule_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:schedule' %}"><div class="text">Schedule</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Skills_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:skills' %}"><div class="text">Skills</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Experiences_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:exp' %}"><div class="text">Exp</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Contact_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:contact' %}"><div class="text">Contact</div></a>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="container-fluid left-right-most">
            <div class="header top right">
                <!-- fill the header with dropdown -->
                <div class="dropdown ">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                      Menu
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'schedule:homepage' %}">Home</a>
                        <a class="dropdown-item disabled" href="#">About Me</a>
                        <a class="dropdown-item" href="{% url 'schedule:schedule' %}">Schedule</a>
                        <a class="dropdown-item" href="{% url 'schedule:skills' %}">Skills</a>
                        <a class="dropdown-item" href="{% url 'schedule:exp' %}">Exp</a>
                        <a class="dropdown-item" href="{% url 'schedule:contact' %}">Contact</a>
                    </div>
                </div>
            </div>
            
            <div id="about">
                <div class="d-flex flex-column margin-left">
                    <h1 class="title">About Me</h1>
                    <div class="row">
                        <div class="col-md-4 left-right-most center">
                            <picture>
                                <source class="landscape_photo" media="(max-width: 767px)" srcset="{% static 'images/Photo-landscape-crop.jpg' %}" />
                                <img class=".mx-auto .d-block profile" src="{% static 'images/Photo.jpg' %}" alt="main photo" />
                            </picture>
                        </div>
                        <div class="col-md-7 left-right-most">
                            <p class="leftmost">
                                I’m a highly <strong>motivated</strong> and <strong>hardworking</strong> person. Excellent in <strong>team working</strong>  
                                and always try to be a <strong>professional</strong> at any possible time. I give someone chances to criticize my performance 
                                for the better. <br><br>
                                From a high school, my passion is <strong>technology</strong>. That's why I started learning in 
                                a computer science major. I really hope someday I could make something <strong>helpful</strong> with my knowledge 
                                and spread education about how technology can change our world.
                            </p>
                            <a href="{% url 'schedule:swot' %}" target="_blank"><img class="swot_icon" src="{% static 'images/Icon/SWOT_icon.png' %}" alt="swot icon" /></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>