<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Jilham Luthfi | Contact</title>
        <meta charset="utf-8">

        <!-- Connect to external CSS file -->
        <link rel="stylesheet" href="{% static 'css/menu_bar_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact_style.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Connect the fonts from google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">

        <!-- Set the size which can be fit to any screen devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="background_menu">
            <div class="d-flex flex-column justify-content-center menu-area">
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Home_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:homepage' %}"><div class="text">Home</div></a>
                    </div> 
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/About_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:about' %}"><div class="text">About</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Schedule_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:schedule' %}"><div class="text">Schedule</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Skills_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:skills' %}"><div class="text">Skills</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Experiences_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <a href="{% url 'schedule:exp' %}"><div class="text">Exp</div></a>
                    </div>
                </div>
                <div class="container center-icon">
                    <img src="{% static 'images/Icon/Contact_icon.png' %}" alt="img" class="image" />
                    <div class="overlay overlayFade">
                        <div class="text">Contact</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid left-right-most">
            <div class="header right">
                <!-- fill the header with dropdown -->
                <div class="dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        Menu
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'schedule:homepage' %}">Home</a>
                        <a class="dropdown-item" href="{% url 'schedule:about' %}">About Me</a>
                        <a class="dropdown-item" href="{% url 'schedule:schedule' %}">schedule</a>
                        <a class="dropdown-item" href="{% url 'schedule:skills' %}">Skills</a>
                        <a class="dropdown-item" href="{% url 'schedule:exp' %}">Exp</a>
                        <a class="dropdown-item disabled" href="#">Contact</a>
                    </div>
                </div>
            </div>

            <div id="contact">
                <div class="d-flex flex-column margin-left center-icon">
                    <h1 class="title">Contact</h1>
                    <p>If you have any questions, don’t hesitate to ask me on</p>
                    <div class=".d-flex flex-row center-icon">
                        <a class="btn btn-link" href="mailto:jilham.luthfi15@gmail.com" target="_blank" role="button">
                            <img src="{% static 'images/Icon/Email.png' %}" alt="email icon" class="iconContact"/>
                        </a>
                        <a class="btn btn-link" href="https://www.linkedin.com/in/jilham-luthfi-78713417b/" target="_blank" role="button">
                            <img src="{% static 'images/Icon/LinkedIn.png' %}" alt="email icon" class="iconContact"/>
                        </a>
                        <a class="btn btn-link" href="https://www.instagram.com/mjilham_luthfi/" target="_blank" role="button">
                            <img src="{% static 'images/Icon/Instagram.png' %}" alt="email icon" class="iconContact" />
                        </a>
                        <a class="btn btn-link" href="https://twitter.com/Mjilham_luthfi" target="_blank" role="button">
                            <img src="{% static 'images/Icon/Twitter.png' %}" alt="email icon" class="iconContact" />
                        </a>
    
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>