{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Jilham Luthfi | Schedule</title>
        <meta charset="utf-8">

        <!-- Connect to external CSS file -->
        <link rel="stylesheet" href="{% static 'css/menu_bar_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/schedule_style.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Connect the fonts from google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">

        <!-- Set the size which can be fit to any screen devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="menu_bar">
            <div class="background_menu">
                <div class="d-flex flex-column justify-content-center menu-area">
                    <div class="container center-icon">
                        <img src="{% static 'images/Icon/Home_icon.png' %}" alt="img" class="image" />
                        <div class="overlay overlayFade">
                            <a href="{% url 'schedule:homepage' %}"><div class="text">Home</div></a>
                        </div> 
                    </div>
                    <div class="container center-icon">
                        <img src="{% static 'images/Icon/About_icon.png' %}" alt="img" class="image" />
                        <div class="overlay overlayFade">
                            <a href="{% url 'schedule:about' %}"><div class="text">About</div></a>
                        </div>
                    </div>
                    <div class="container center-icon">
                        <img src="{% static 'images/Icon/Schedule_icon.png' %}" alt="img" class="image" />
                        <div class="overlay overlayFade">
                            <div class="text">Schedule</div>
                        </div>
                    </div>
                    <div class="container center-icon">
                        <img src="{% static 'images/Icon/Skills_icon.png' %}" alt="img" class="image" />
                        <div class="overlay overlayFade">
                            <a href="{% url 'schedule:skills' %}"><div class="text">Skills</div></a>
                        </div>
                    </div>
                    <div class="container center-icon">
                        <img src="{% static 'images/Icon/Experiences_icon.png' %}" alt="img" class="image" />
                        <div class="overlay overlayFade">
                            <a href="{% url 'schedule:exp' %}"><div class="text">Exp</div></a>
                        </div>
                    </div>
                    <div class="container center-icon">
                        <img src="{% static 'images/Icon/Contact_icon.png' %}" alt="img" class="image" />
                        <div class="overlay overlayFade">
                            <a href="{% url 'schedule:contact' %}"><div class="text">Contact</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="header top right">
            <!-- fill the header with dropdown -->
            <div class="dropdown">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                    Menu
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'schedule:homepage' %}">Home</a>
                    <a class="dropdown-item" href="{% url 'schedule:about' %}">About Me</a>
                    <a class="dropdown-item disabled" href="#">Schedule</a>
                    <a class="dropdown-item" href="{% url 'schedule:skills' %}">Skills</a>
                    <a class="dropdown-item" href="{% url 'schedule:exp' %}">Exp</a>
                    <a class="dropdown-item" href="{% url 'schedule:contact' %}">Contact</a>
                </div>
            </div>
        </div>

        <div id="schedule">
            <div class="d-flex flex-column margin-left">
                <h1 class="title">Schedule</h1>
                <form class="form_style" method="POST">
                    {% csrf_token %}
                    <div>
                        <h2>Maka a Schedule</h2>
                        <div class="form-group row justify-content-center">
                            <label for="activity" class="col-sm-2 col-form-label">Activity</label>
                            <div class="col-sm-4">
                                <input name="activity" type="text" class="form-control" id="activity" placeholder="what activity?">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label for="place" class="col-sm-2 col-form-label">Place</label>
                            <div class="col-sm-4">
                                <input name="place" type="text" class="form-control" id="place" placeholder="where?">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label for="category" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-4">
                                <input name="category" type="text" class="form-control" id="category" placeholder="what category?">
                        </div>
                        </div>
                        Date & Time:<br>
                        <input type="datetime-local" name="datetime"><br>
                        <input class="marginTop" type="submit" value="Save"> 
                    </div>
                </form>

                <div class="table-responsive my-5 px-4 py-2">
                    <table class="table table-active table-striped table_custom">
                        <thead>
                            <tr>
                            <th scope="col" class="no_size">No</th>
                            <th scope="col" class="dt_size">Time</th>
                            <th scope="col" class="a_size">Activity</th>
                            <th scope="col">-</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for schedule in schedules %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{schedule.datetime}}</td>
                                <td><strong>activity</strong>: {{schedule.activity}}<br>
                                    <strong>place</strong>: {{schedule.place}}<br>
                                    <strong>category</strong>: {{schedule.category}}
                                </td>
                                <td>
                                    <form action="{% url 'schedule:delete_schedule' schedule.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

                
    </body>
</html>