<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Jilham Luthfi | SWOT Analysis</title>
        <meta charset="utf-8">

        <!-- Connect to external CSS file -->
        <link rel="stylesheet" href="{% static 'css/swot_style.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        

        <!-- Connect the fonts from google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kreon&display=swap" rel="stylesheet">

        <!-- Set the size which can be fit to any screen devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="swot">
            <h1 class="title">SWOT Analysis</h1>
            <div class="row justify-content-md-center right-most">
                <div class="col-md-5 table-settings">
                    <table class="table table-hover content-settings">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Strenghts (S)</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="swotText">Ambitious</td>
                                </tr>
                                <tr>
                                    <td class="swotText">Helpful</td>
                                </tr>
                                <tr>
                                    <td class="swotText">Fun</td>
                                </tr>
                                <tr>
                                    <td class="swotText">Educational</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 table-settings">
                    <table class="table table-hover content-settings">
                        <thead>
                            <tr class="table-danger">
                                <th scope="col">Weaknesses (W)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="swotText">Perfectionist</td>
                            </tr>
                            <tr>
                                <td class="swotText">Careless</td>
                            </tr>
                            <tr>
                                <td class="swotText">Forgetful (in a certain time)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <div class="row justify-content-md-center right-most">
                <div class="col-md-5 table-settings">
                    <table class="table table-hover content-settings">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Opportunities (O)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="swotText">Supportive Environment</td>
                            </tr>
                            <tr>
                                <td class="swotText">-</td>
                            </tr>
                            <tr>
                                <td class="swotText">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 table-settings">
                    <table class="table table-hover content-settings">
                        <thead>
                            <tr class="table-danger">
                                <th scope="col">Threats (T)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="swotText">Unstable Health</td>
                            </tr>
                            <tr>
                                <td class="swotText">-</td>
                            </tr>
                            <tr>
                                <td class="swotText">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>